<h2 style='font-family:Arial, sans-serif; font-size:18px; margin:0 0 15px 0;'>
  Olá
  <strong style='color:#0006FF;'>{{userName}}</strong>,
</h2>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:0 0 20px 0;'
>
  Lamentamos informar que o seu processo de verificação de identidade (KYC) no
  <strong class='color:#3336FF;'>{{appName}}</strong>
  não foi aprovado.
</p>

<p style='font-family:Arial, sans-serif; font-size:14px; margin:20px 0 10px 0;'>
  Motivo da reprovação:
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  {{reason}}
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  A sua segurança e a conformidade regulatória são fundamentais para nós. Caso
  tenha dúvidas ou precise de ajuda, nossa equipe de suporte está disponível
  para atendê-lo.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Atenciosamente,
  <br />
  Equipe
  <strong style='color:#0006FF;'>{{appName}}</strong>
</p>