<h2 style='font-family:Arial, sans-serif; font-size:18px; margin:0 0 15px 0;'>
  Olá
  <strong style='color:#2FBF05;'>{{userName}}</strong>,
</h2>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:0 0 20px 0;'
>
  Bem-vindo ao
  <strong style='color:#4AD31F;'>{{appName}}</strong>, onde o mundo cripto é
  mais fácil, seguro e acessível para você!
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Sua conta foi criada com sucesso e agora você pode começar a explorar todas as
  funcionalidades que projetamos para que você tenha controle total sobre seus
  ativos digitais.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Obrigado por confiar em nós. Estamos felizes em tê-lo a bordo.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Se precisar de ajuda, nossa equipe está pronta para assisti-lo.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Atenciosamente,
  <br />
  Equipe
  <strong style='color:#2FBF05;'>{{appName}}</strong>
</p>