<h2 style='font-family:Arial, sans-serif; font-size:18px; margin:0 0 15px 0;'>
  Olá
  <strong style='color:#2FBF05;'>{{userName}}</strong>,
</h2>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:0 0 20px 0;'
>
  Gostaríamos de informar que os limites transacionais da sua conta em
  <strong class='color:#4AD31F;'>{{appName}}</strong>
  foram atualizados. Para verificar os novos valores e condições, acesse a seção
  de perfil da sua conta.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Essa atualização faz parte do nosso compromisso em oferecer uma experiência
  segura e adaptada às suas necessidades.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Caso tenha dúvidas ou precise de ajuda, nossa equipe de suporte está
  disponível para atendê-lo.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Atenciosamente,
  <br />
  Equipe
  <strong style='color:#2FBF05;'>{{appName}}</strong>
</p>