<h2 style='font-family:Arial, sans-serif; font-size:18px; margin:0 0 15px 0;'>
  Olá
  <strong style='color:#2FBF05;'>{{userName}}</strong>,
</h2>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Parabéns! Verificamos sua identidade com sucesso e o processo de validação da
  sua conta foi concluído.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:0 0 20px 0;'
>
  Sua conta no
  <strong class='color:#4AD31F;'>{{appName}}</strong>
  está agora totalmente habilitada.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Agora você pode acessar todos os recursos disponíveis, incluindo limites
  ampliados, operações seguras e conformidade regulatória.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  A sua segurança — e a dos nossos usuários — é a nossa prioridade. Obrigado por
  concluir esta etapa importante.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Se tiver alguma dúvida ou precisar de ajuda, nossa equipe de suporte está à
  disposição para atendê-lo.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Obrigado por confiar em nós.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Atenciosamente,
  <br />
  Equipe
  <strong style='color:#2FBF05;'>{{appName}}</strong>
</p>