<h2 style='font-family:Arial, sans-serif; font-size:18px; margin:0 0 15px 0;'>
  Olá
  <strong style='color:#0006FF;'>{{userName}}</strong>,
</h2>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:0 0 20px 0;'
>
  Pronto! A autenticação de dois fatores (2FA) foi ativada com sucesso na sua
  conta do
  <strong class='color:#3336FF;'>{{appName}}</strong>.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  A partir de agora, sempre que fizer login, será solicitado um código adicional
  para verificar sua identidade. Isso adiciona uma camada extra de segurança e
  protege melhor seus ativos digitais.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Se você não ativou essa função, entre em contato conosco imediatamente.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Obrigado por nos ajudar a manter sua conta segura.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Atenciosamente,
  <br />
  Equipe
  <strong style='color:#0006FF;'>{{appName}}</strong>
</p>