<h2 style='font-family:Arial, sans-serif; font-size:18px; margin:0 0 15px 0;'>
  Olá
  <strong style='color:#2FBF05;'>{{userName}}</strong>,
</h2>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:0 0 20px 0;'
>
  Confirmamos que a autenticação de dois fatores (2FA) foi desativada na sua
  conta do
  <strong class='color:#4AD31F;'>{{appName}}</strong>.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  A partir de agora, você precisará apenas da sua senha para fazer login. Isso
  pode reduzir a segurança da sua conta, portanto recomendamos reativar o 2FA o
  quanto antes.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Se essa desativação não foi autorizada por você, entre em contato conosco
  imediatamente para proteger sua conta.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Sua segurança é a nossa prioridade.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Atenciosamente,
  <br />
  Equipe
  <strong style='color:#2FBF05;'>{{appName}}</strong>
</p>