<h2 style='font-family:Arial, sans-serif; font-size:18px; margin:0 0 15px 0;'>
  Hola
  <strong style='color:#0006FF;'>{{userName}}</strong>,
</h2>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:0 0 20px 0;'
>
  Lamentamos informarte que tu proceso de verificación de identidad (KYC) en
  <strong class='color:#3336FF;'>{{appName}}</strong>
  no fue aprobado.
</p>

<p style='font-family:Arial, sans-serif; font-size:14px; margin:20px 0 10px 0;'>
  Motivo del rechazo:
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  {{reason}}
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Tu seguridad y cumplimiento regulatorio son fundamentales para nosotros. Si
  tienes dudas o necesitas ayuda, nuestro equipo de soporte está disponible para
  asistirte.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Saludos,
  <br />
  Equipo de
  <strong style='color:#0006FF;'>{{appName}}</strong>
</p>