<h2 style='font-family:Arial, sans-serif; font-size:18px; margin:0 0 15px 0;'>
  Hola
  <strong style='color:#2FBF05;'>{{userName}}</strong>,
</h2>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:0 0 20px 0;'
>
  Te confirmamos que la contraseña de tu cuenta en
  <strong class='color:#4AD31F;'>{{appName}}</strong>
  ha sido cambiada correctamente.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Si no fuiste tú quien realizó esta modificación, por favor contáctanos de
  inmediato para proteger tus activos.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Recuerda: nunca compartas tu contraseña ni tus códigos de autenticación con
  nadie.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Gracias por confiar en nosotros.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Saludos,
  <br />
  Equipo de
  <strong style='color:#2FBF05;'>{{appName}}</strong>
</p>