<h2 style='font-family:Arial, sans-serif; font-size:18px; margin:0 0 15px 0;'>
  Hola
  <strong style='color:#0006FF;'>{{userName}}</strong>,
</h2>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:0 0 20px 0;'
>
  ¡Listo! El segundo factor de autenticación (2FA) ha sido activado
  correctamente en tu cuenta de
  <strong class='color:#3336FF;'>{{appName}}</strong>.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  A partir de ahora, cada vez que inicies sesión, se te pedirá un código
  adicional para verificar tu identidad. Esto añade una capa extra de seguridad
  y protege mejor tus activos digitales.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Si no fuiste tú quien activó esta función, por favor contáctanos de inmediato.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Gracias por ayudarnos a mantener tu cuenta segura.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Saludos,
  <br />
  Equipo de
  <strong style='color:#0006FF;'>{{appName}}</strong>
</p>