<h2 style='font-family:Arial, sans-serif; font-size:18px; margin:0 0 15px 0;'>
  Hola
  <strong style='color:#2FBF05;'>{{userName}}</strong>,
</h2>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:0 0 20px 0;'
>
  Te confirmamos que el segundo factor de autenticación (2FA) ha sido
  desactivado en tu cuenta de
  <strong class='color:#4AD31F;'>{{appName}}</strong>.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  A partir de ahora, solo necesitarás tu contraseña para iniciar sesión. Esto
  puede reducir la seguridad de tu cuenta, por lo que te recomendamos activar
  nuevamente el 2FA.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Si esta desactivación no fue autorizada por ti, por favor contáctanos de
  inmediato para proteger tu cuenta.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Tu seguridad es nuestra prioridad.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Saludos,
  <br />
  Equipo de
  <strong style='color:#2FBF05;'>{{appName}}</strong>
</p>