<h2 style='font-family:Arial, sans-serif; font-size:18px; margin:0 0 15px 0;'>
  Hola,
</h2>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:0 0 20px 0;'
>
  Gracias por registrarte en
  <strong style='color:#2FBF05;'>{{appName}}</strong>. Para completar tu
  registro y activar tu cuenta, por favor verifica tu correo electrónico
  utilizando el siguiente código de verificación:
</p>

<!-- Botón centrado -->
<table
  role='presentation'
  border='0'
  cellpadding='0'
  cellspacing='0'
  align='center'
  style='margin:30px auto;'
>
  <tr>
    <td align='center' bgcolor='#f5f5f5' style='border-radius:5px;'>
      <span
        style="
          font-family: 'Courier New', Courier, monospace;
          font-size: 32px;
          color: #4AD31F;
          padding: 12px 24px;
          display: inline-block;
          border-radius: 5px;
          font-weight: bold;
          letter-spacing: 10px; /* espacio entre caracteres */
        "
      >
        {{code}}
      </span>
    </td>
  </tr>
</table>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Este código es válido por los próximos
  {{ttlMinutes}}
  minutos. Si no solicitaste este registro, puedes ignorar este mensaje.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Si tienes alguna duda o necesitas ayuda, nuestro equipo de soporte está
  disponible para ti.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Saludos,
  <br />
  Equipo de
  <strong style='color:#2FBF05;'>{{appName}}</strong>
</p>