<tr>
  <td align='center' bgcolor='#2FBF05' style='padding:20px;'>
    <img
      src='https://crypto-tracker-admin.vercel.app/assets/images/logo-with-text-horizontal-dark.png'
      alt='{{appName}}'
      style='max-width: 180px; height: auto;'
    />
  </td>
</tr>