<h2 style='font-family:Arial, sans-serif; font-size:18px; margin:0 0 15px 0;'>
  Hello
  <strong style='color:#2FBF05;'>{{userName}}</strong>,
</h2>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:0 0 20px 0;'
>
  Welcome to
  <strong style='color:#4AD31F;'>{{appName}}</strong>, where the crypto world is
  easier, safer, and more accessible for you!
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Your account has been successfully created and you can now start exploring all
  the features we designed to give you full control of your digital assets.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Thank you for trusting us. We are happy to have you on board.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  If you need help, our team is ready to assist you.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Regards,
  <br />
  The
  <strong style='color:#2FBF05;'>{{appName}}</strong>
  Team
</p>