<h2 style='font-family:Arial, sans-serif; font-size:18px; margin:0 0 15px 0;'>
  Hello
  <strong style='color:#2FBF05;'>{{userName}}</strong>,
</h2>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:0 0 20px 0;'
>
  We would like to inform you that the transactional limits of your account in
  <strong class='color:#4AD31F;'>{{appName}}</strong>
  have been updated. To review the new values and conditions, please visit the
  profile section of your account.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  This update is part of our ongoing commitment to provide you with a secure and
  personalized experience.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  If you have any questions or need assistance, our support team is available to
  help you.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Best regards,
  <br />
  The
  <strong style='color:#2FBF05;'>{{appName}}</strong>
  Team
</p>