<h2 style='font-family:Arial, sans-serif; font-size:18px; margin:0 0 15px 0;'>
  Hello
  <strong style='color:#0006FF;'>{{userName}}</strong>,
</h2>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:0 0 20px 0;'
>
  We’re sorry to inform you that your identity verification process (KYC) on
  <strong class='color:#3336FF;'>{{appName}}</strong>
  was not approved.
</p>

<p style='font-family:Arial, sans-serif; font-size:14px; margin:20px 0 10px 0;'>
  Rejection reason:
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  {{reason}}
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Your security and regulatory compliance are very important to us. If you have
  any questions or need assistance, our support team is available to help you.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Best regards,
  <br />
  The
  <strong style='color:#0006FF;'>{{appName}}</strong>
  Team
</p>