<h2 style='font-family:Arial, sans-serif; font-size:18px; margin:0 0 15px 0;'>
  Hello
  <strong style='color:#2FBF05;'>{{userName}}</strong>,
</h2>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:0 0 20px 0;'
>
  We confirm that Two-Factor Authentication (2FA) has been disabled on your
  <strong class='color:#4AD31F;'>{{appName}}</strong>
  account.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  From now on, you will only need your password to log in. This may reduce the
  security of your account, so we recommend re-enabling 2FA as soon as possible.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  If this deactivation was not authorized by you, please contact us immediately
  to protect your account.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Your security is our top priority.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Best regards,
  <br />
  The
  <strong style='color:#2FBF05;'>{{appName}}</strong>
  Team
</p>