<h2 style='font-family:Arial, sans-serif; font-size:18px; margin:0 0 15px 0;'>
  Hello
  <strong style='color:#2FBF05;'>{{userName}}</strong>,
</h2>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:0 0 20px 0;'
>
  Done! Two-Factor Authentication (2FA) has been successfully enabled on your
  <strong class='color:#4AD31F;'>{{appName}}</strong>
  account.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  From now on, every time you log in, you’ll be asked for an additional code to
  verify your identity. This adds an extra layer of security and better protects
  your digital assets.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  If you did not enable this feature, please contact us immediately.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Thank you for helping us keep your account secure.
</p>

<p
  style='font-family:Arial, sans-serif; font-size:14px; color:#666666; margin:20px 0 10px 0;'
>
  Best regards,
  <br />
  The
  <strong style='color:#2FBF05;'>{{appName}}</strong>
  Team
</p>