<tr>
  <td
    bgcolor='#f0f2f5'
    align='center'
    style='padding:15px; font-family:Arial, sans-serif; font-size:12px; color:#777777;'
  >
    ©
    {{year}}
    {{appName}}. Todos os direitos reservados.
  </td>
</tr>