<tr>
  <td align='center' bgcolor='#0006FF' style='padding:20px;'>
    <img
      src='https://wallet-admin-basspago.vercel.app/assets/images/logo-with-text-horizontal-dark.png'
      alt='{{appName}}'
      style='max-width: 180px; height: auto;'
    />
  </td>
</tr>